<ion-content>
  <div text-center class="logo">
    <img src=appLogo />
  </div>
  <form (submit)="login()">
    <strong><p class="error-message" *ngIf="errMsg" >{{errMsg}}</p></strong>
    <ion-list>

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input [(ngModel)]="loginDetails.username" type="text" autocorrect="off" autocapitalize="none" name="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input [(ngModel)]="loginDetails.password" type="password" name="password"></ion-input>
      </ion-item>

      <ion-item no-lines>
        <button ion-button color="primary" block padding >Sign In</button>
        <div class="links">
          <span><a (click)="forgotPassword()">Forgot password?</a></span>
          <span class="right"><a (click)="signup()">Join Now</a></span>
        </div>
      </ion-item>


      <div padding text-center>
        <p *ngIf="errMsg" >Problems logging in? Contact us at mobile@agility360app.net or call us at (469) 208-6300.</p>
      </div>
    </ion-list>
  </form>
</ion-content>
