<ion-content>
  <div text-center class="logo">
    <img src="assets/img/agility360-logo-transparent-512x512.png" />
  </div>
  <form (submit)="login()" [formGroup]="formGroup">
    <strong><p class="error-message" *ngIf="errMsg" >{{errMsg}}</p></strong>
    <ion-list>

      <ion-item>
        <ion-label floating>
          Username
          <ion-icon name="checkmark" *ngIf="formGroup.controls.username.valid" class="valid"></ion-icon>
        </ion-label>
        <ion-input
          [(ngModel)]="loginDetails.username"
          [class.valid]="formGroup.controls.username.valid"
          formControlName="username"
          type="text"
          autocorrect="off"
          autocapitalize="none"
          name="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          Password
          <ion-icon name="checkmark" *ngIf="formGroup.controls.password.valid" class="valid"></ion-icon>
        </ion-label>
        <ion-input
          [(ngModel)]="loginDetails.password"
          [class.valid]="formGroup.controls.password.valid"
          formControlName="password"
          type="password"
          name="password"></ion-input>
      </ion-item>

      <ion-item no-lines>
        <button
          ion-button
          color="primary"
          block
          [disabled]="!formGroup.valid"
          padding>Sign In</button>
        <div class="links">
          <span><a (click)="forgotPassword()">Forgot password?</a></span>
          <span class="right"><a (click)="signup()">Join Now</a></span>
        </div>
      </ion-item>

    </ion-list>
  </form>
  <ion-footer *ngIf="errMsg">
    <div padding text-center >
      <p>Problems logging in?</p>
      <p>Contact us at <a href="mailto:mobile@agility360app.net">mobile@agility360app.net</a> or call us at <a href="call:+14692086300">(469) 208-6300</a>.</p>
    </div>
  </ion-footer>
</ion-content>
