page-http-error {

  .error-message {
    margin-top: 20%;
  }

  .error-message button {
    margin-top: 20%;
  }

  .button-bottom {
    position: absolute;
    bottom: 15px;
    left: 5%;
    width: 90%;
  }

}
