<!--
  written by: McDaniel
  date:       august 2017

  templated html for Jobs, News and Resume pages.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Job Posting</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="app-background">
  <ion-refresher (ionRefresh)="refreshData($event)">
    <ion-refresher-content
                  pullingIcon="arrow-dropdown"
                  pullingText="Pull to refresh"
                  refreshingSpinner="circles"
                  refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="post">
    <ion-card>
      <div class="card-title-block">
        <ion-item>
          <ion-avatar item-start>
            <img src="https://cdn.agility360app.net/">
          </ion-avatar>
          <h2 text-wrap>{{ post.title.rendered }}</h2>
          <p class="publication-date">Posted: {{ post.date | date:"MMM dd, yyyy" }}</p>
        </ion-item>
      </div>

      <ion-card-content>
        <ion-item>
          <img src="{{ post.featured_media_url }}">
          <p class="post" text-wrap [innerHtml]="post.content.rendered | safeHtml"></p>
        </ion-item>

        <ion-item>
          <button ion-button
                  block
                  (click)="applyNow()"
                  color="primary"
                  large
                  >
            Apply Now
          </button>
        </ion-item>
      </ion-card-content>

    </ion-card>

  </div> <!-- *ngIf="posts" -->

  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{ errMess }}</h4>
  </div>
</ion-content>
