<ion-content>
  <div text-center class="logo">
    <img src="assets/img/agility360-logo-transparent-512x512.png" />
  </div>
  <form (submit)="resetPassword()">
    <strong><p class="error-message" *ngIf="errMsg" >{{errMsg}}</p></strong>
    <ion-list>

      <ion-item>
        <ion-label floating>Username or email address</ion-label>
        <ion-input [(ngModel)]="username" type="text" autocorrect="off" autocapitalize="none" name="username"></ion-input>
      </ion-item>

      <ion-item no-lines>
        <button
            ion-button
            color="primary"
            block
            padding
            [disabled]="!username">Send Password Reset Email</button>

        <div padding text-center>
          <p><a (click)="login()">Return to login page</a>
        </div>
      </ion-item>


      <div padding text-center>
        <p *ngIf="errMsg" >Problems logging in? Contact us at mobile@agility360app.net or call us at (469) 208-6300.</p>
      </div>
    </ion-list>
  </form>
</ion-content>
