page-profile {


  .jobhunting-yes {
    text-align: center;
    font-weight: bolder;
    color: green;
  }

  .jobhunting-no {
    text-align: center;
    font-weight: bolder;
    color: red;
  }

}
