page-profile {

  .agility-label {
    color: #2897C2;
    padding-left: 10px;
  }

  .jobhunting-yes {
    text-align: center;
    font-weight: bolder;
    color: green;
  }

  .jobhunting-no {
    text-align: center;
    font-weight: bolder;
    color: red;
  }

  .promote-box {
    margin: auto !important;
    border: 2px solid rgba(253, 242, 160, 1) !important;
    padding: 15px;
    font-size: 1.25em;
    background-color: rgba(253, 242, 160, .5);
    color: #333;
    text-align: center;
  }
}
