<!--
  written by: McDaniel
  date:       august 2017

  templated html for Jobs, News and Resume pages.
-->
<style>
  .card-title-block {
    margin-left: 2px;
    margin-right: 2px;
    border-bottom: 1px solid #ddd;
  }
  .wordpress {
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .wp p {
    margin-top: 25px;
    margin-bottom: 25px;
    color: green;
  }

  .wp h3 {
    font-weight: bolder;
    text-align: center;
  }
</style>
<ion-header>

  <ion-navbar>
    <ion-title>Jobs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refreshData($event)">
    <ion-refresher-content
                  pullingIcon="arrow-dropdown"
                  pullingText="Pull to refresh"
                  refreshingSpinner="circles"
                  refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="posts">
    <ion-list *ngFor="let post of posts">
      <ion-card>
        <div class="card-title-block">
          <ion-item>
            <ion-avatar item-start>
              <img src="http://cdn.agility360app.net/">
            </ion-avatar>
            <h2 text-wrap>{{ post.title.rendered }}</h2>
            <p style="margin-top: 10px;">Posted: {{ post.date.toString().replace("None", "") | date:"MMM dd, yyyy" }}</p>
          </ion-item>
        </div>

        <ion-card-content>
          <ion-item>
            <ion-row>
              <ion-col>
                <img src="{{ post.featured_media_url }}">
              <div class="wordpress" text-wrap [innerHtml]="post.content.rendered | safeHtml"></div>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-card-content>

      </ion-card>

    </ion-list> <!-- *ngFor="let post of posts" -->
  </div> <!-- *ngIf="posts" -->

  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{ errMess }}</h4>
  </div>
</ion-content>
