<ion-content>
  <div text-center class="logo">
    <img src="assets/img/agility360-logo-transparent-512x512.png" />
  </div>
  <form [formGroup]="formGroup" (submit)="passwordReset()">
    <strong><p class="error-message" *ngIf="errMsg" >{{errMsg}}</p></strong>
    <ion-list>

      <ion-item>
        <ion-label floating>5-Digit Confirmation Code</ion-label>
        <ion-input
            required
            placeholder=""
            [(ngModel)]="verificationCode"
            formControlName="verificationCode"
            type="number"
            autocorrect="off"
            autocapitalize="none"
            name="verificationCode"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>New Password</ion-label>
        <ion-input
          required
          [(ngModel)]="newPassword"
          formControlName="newPassword"
          type="password"
          autocorrect="off"
          autocapitalize="none"
          name="newPassword"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Re-enter New Password</ion-label>
        <ion-input
            required
            [(ngModel)]="ReenterNewPassword"
            formControlName="ReenterNewPassword"
            type="password"
            autocorrect="off"
            autocapitalize="none"
            name="ReenterNewPassword"></ion-input>
        <p *ngIf="newPassword != ReenterNewPassword">does not match</p>
      </ion-item>

      <ion-item no-lines>
        <button
            ion-button
            color="primary"
            block
            padding
            [disabled]="!formGroup.valid">Reset Password</button>

        <div padding text-center>
          <p><a (click)="login()">Return to login page</a>
        </div>
      </ion-item>


      <div padding text-center>
        <p *ngIf="errMsg" >Problems logging in? Contact us at mobile@agility360app.net or call us at (469) 208-6300.</p>
      </div>
    </ion-list>
  </form>
</ion-content>
