<ion-header>
  <ion-navbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="app-background">
  <div class="heading">
    <ion-row>
      <ion-col col-3 style="text-align: right;">
        <h4 style="color: gray;"><span style="color: #2897C2;">User</span></h4>
        <h4 style="color: gray;"><span style="color: #2897C2;">Email</span></h4>
      </ion-col>
      <ion-col >
        <h3 style="color: gray;">{{ this.username }}</h3>
        <h4 style="color: gray;">{{ this.email }} <span *ngIf="this.email_verified"> - <span style="color: green;">verified</span></span></h4>
      </ion-col>
    </ion-row>

  </div>
  <div padding text-center>
    <div *ngIf="avatarPhoto" class="avatar" [style.background-image]="'url('+ avatarPhoto +')'">
    </div>

    <button ion-button clear (click)="selectAvatar()">Change photo</button>

    <input #avatar class="avatar-input" type="file" (change)="uploadFromFile($event)" />
  </div>

  <ion-list padding>
    <button ion-item [navPush]="jobhistoryPage">
    <ion-icon name="briefcase" item-start></ion-icon>
      Job History
    </button>
    <button ion-item [navPush]="educationPage">
    <ion-icon name="school" item-start></ion-icon>
      Education
    </button>
    <button ion-item [navPush]="certificationsPage">
    <ion-icon name="ribbon" item-start></ion-icon>
      Certifications
    </button>

    <button ion-item [navPush]="profilePage">
    <ion-icon name="contact" item-start></ion-icon>
      Candidate Profile
    </button>
    <button ion-item (click)="logout()">
      <ion-icon name="log-out" item-start></ion-icon>
      <ion-label color="danger">Logout</ion-label>
    </button>
  </ion-list>
</ion-content>
