page-education-detail {

  .form-label {
    margin-top: 10px;
  }
  .editable-field {
    color: green;
    font-weight: bolder;
    margin-bottom: 5px;
  }

  .description {
    min-height: 100px;
  }


}
