page-welcome {

  .welcome-logo {

    img {
      width: 150px;
      margin: auto;
      display: block;
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
  ion-card {
    position: absolute;
    top: 0;
    left: 0;
  }

  ion-card-content {

    h1, p {
      color: #2897C2 !important;
    }
  }

  .right-arrow {
      float: right;
      width: 125px;
      margin-bottom: 25px;
  }

  .left-arrow {
    width: 125px;
    margin-bottom: 25px;
  }

  p.error-message {
    text-align: center;
    color: red;
  }

}
