page-welcome {

  .welcome-logo {
    display: block;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 5%;
    margin-bottom: 5%;

    img {
      max-width: 150px;
    }
  }

  ion-card-content {

    h1, p {
      color: #2897C2 !important;
    }
  }

  .right-arrow {
      float:right;
      width: 125px;
  }

  .left-arrow {
    width: 125px;
    margin-bottom: 25px;
  }

  p.error-message {
    text-align: center;
    color: red;
  }

}
