<!--
  Generated template for the JobhistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<style>
.salary {
  padding: 5px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.salary p {
  font-weight: bold;
}

.description {
  text-align: justify;
}

.job-dates p {
}

</style>
<ion-header>

  <ion-navbar>
    <ion-title>Job History</ion-title>

    <ion-buttons start>
      <button ion-button icon-only (click)="addJobHistory()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>


</ion-header>


<ion-content padding>

  <h3 style="color: #2897C2;">Why Provide Your Job History?</h3>
  <p>By providing Agility 360 with accurate details of your job history we are able to blah blah blah.</p>
  <p>Research shows that blah blah blah.</p>


  <div *ngIf="jobs">
    <ion-list *ngFor="let job of jobs">
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="http://cdn.agility360app.net/">
          </ion-avatar>
          <h2>{{ job.company_name || uppercase }}</h2>
          <p>{{ job.job_title}}</p>
          <p>{{ job.department.toString().replace("None", "") }}</p>
        </ion-item>

        <ion-card-content>
          <ion-item class="job-dates">
            <ion-row>
              <ion-col text-left>
                <p>Start Date</p>
              </ion-col>
              <ion-col text-right>
                <p>{{ job.start_date | date:"MMM dd, yyyy" }}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-left>
                <p>End Date</p>
              </ion-col>
              <ion-col text-right>
                <p>{{ job.end_date | date:"MMM dd, yyyy" }}</p>
              </ion-col>
            </ion-row>
          </ion-item>

          <ion-item>
            <ion-row>
              <ion-col>
                <p class="description" text-wrap>Portland tote bag swag quinoa cloud bread. Thundercats yr knausgaard cloud bread cornhole gentrify venmo, craft beer humblebrag XOXO kickstarter banh mi 3 wolf moon man bun lyft. Gentrify lyft coloring book cornhole godard wayfarers paleo meditation 3 wolf moon tofu taiyaki. DIY single-origin coffee polaroid hammock occupy 3 wolf moon swag ramps. Tote bag coloring book jianbing meh. Distillery bushwick single-origin coffee sriracha man bun quinoa offal seitan blog meggings mlkshk. Deep v godard tofu, ethical bitters portland small batch. Four dollar toast tumblr franzen cred vinyl, keytar lo-fi bushwick polaroid palo santo copper mug cronut pabst green juice vegan.</p>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-row class="salary">
              <ion-col>
                <p>Final Salary:</p>
              </ion-col>
              <ion-col text-right>
                <p>{{ job.final_salary | currency :$ :0 }}</p>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small (click)="editJobHistory($event, job)">
              <ion-icon name="create"></ion-icon>
              <div>Edit</div>
            </button>
          </ion-col>
          <ion-col text-right>
            <button ion-button icon-left clear small color="danger" (click)="deleteJobHistory(job)">
              <ion-icon name="trash"></ion-icon>
              <div>Delete</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

    </ion-list>
    <div [hidden]="jobs || errMess">
      <ion-spinner name="bubbles"></ion-spinner>
      <h4>Loading ... </h4>
    </div>
    <div *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{ errMess }}</h4>
    </div>
  </div>
</ion-content>
