page-signup {
  /*
  $text-input-highlight-color-valid: black;
  $text-input-highlight-color-invalid: black;
  $text-input-placeholder-color: black;
  */

  .logo {
    padding: 20px 0px 0px 0px;
    text-align: center;

    img {
      max-width: 150px;
    }
  }

  .error-message {
    color: red;
    font-style: italic;
    font-size: 1em;
    text-align: center;
  }

   p {
       font-size: 0.8em;
       color: #d2d2d2;
   }

   ion-item {
    background-color: green;
   }

   ion-label, .select-text {
       margin-left: 10px;
   }

   ion-input, ion-select, ion-textarea {
       padding: 0px 0px;
       margin-bottom: 5px;
   }

   .valid {
    color: green;
   }

   .invalid {
     color: red;
     background-color: yellow;
     border: 3px solid #ea6153;
   }

}
