page-signup {
  /*
  $text-input-highlight-color-valid: black;
  $text-input-highlight-color-invalid: black;
  $text-input-placeholder-color: black;
  */


  .error-message {
    color: red;
    font-style: italic;
    font-size: 1em;
    text-align: center;
  }

  .info-message {
    color: #555 !important;
    font-style: italic;
    font-size: 1em;
    text-align: center;
  }

   p {
       color: #d2d2d2;
   }

   ion-item {
    background-color: green;
   }

   ion-label, .select-text {
       margin-left: 10px;
   }

   ion-input, ion-select, ion-textarea {
       padding: 0px 0px;
       margin-bottom: 5px;
   }

   ion-list {
   }

   .valid {
    color: green;
   }

}
